.header{
    background-color: aqua;
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
align-items: center;
border: solid 5px rgba(13, 13, 0, 0.919);
}
.left,.right{
    font-size: 70px;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 80px;
}
body{
    background-color: rgba(231, 227, 103, 0.771);
}