.header{
    background-color: aqua;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
align-items: center;
border-bottom: solid 7px rgba(13, 13, 0, 0.919);
}
.left,.right{
    font-size: 70px;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 80px;
}